/* ================= HEADER SECTION =================*/

/* Distribute page title and hamburger toggle icon in row flexflow with equal space between */
.l-flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

/* Hide navigational links and toggle switch element in mobile view*/
.is-mobile-hidden {
    display: none;
}

/* Display  hamburger icon in smaller screens*/
.c-sidebar__mobile-toggle-icon {
    top: 30px;
    right: 15px;
    cursor: pointer;
    position: absolute;
    width: 26px;
    height: 26px;
    z-index: 1;
}

/* ================= SIDEBAR SECTION ================= */

/* Display .sidebar__menu when mobile-toggle checkbox is checked 
Code sourced from https://codepen.io/nobukawa/pen/WvJQwv?editors=1100 
Replaced + with tilde to select all sibling elements */
.c-sidebar__mobile-toggle:checked ~ .c-sidebar__menu {
    display: block;
  }

/* Lines 40-84 code is sourced from https://codepen.io/andreykrokhin/pen/mGEqja */
/* Apply transformations to the hamburger icon (using span element) when clicked (checked).
   At the end of the animation the icon will resemble a close (X) button.
*/
.c-sidebar__mobile-toggle:checked ~ .c-sidebar__mobile-toggle-icon > .c-sidebar__mobile-toggle-icon--transform {
    transform: rotate(45deg);

  }
.c-sidebar__mobile-toggle:checked ~ .c-sidebar__mobile-toggle-icon > .c-sidebar__mobile-toggle-icon--transform:before {
    top: 0;
    transform: rotate(0);
  }
.c-sidebar__mobile-toggle:checked ~ .c-sidebar__mobile-toggle-icon > .c-sidebar__mobile-toggle-icon--transform::after  {
    top: 0;
    transform: rotate(90deg);
  }

/* 
   Define styling for the hamburger transformation elements.
   These elements are used to create animation effects.
*/

.c-sidebar__mobile-toggle-icon--transform,
.c-sidebar__mobile-toggle-icon--transform::before,
.c-sidebar__mobile-toggle-icon--transform::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  --icon-bgcolor: #01364A;
  background-color: var(--icon-bgcolor);

  transition-duration: .25s;
}

/* 
   Define pseudo-elements before and after harmburger transformation for styling.
   These pseudo-elements are positioned to create additional graphical elements for the overall appearance of the hamburger icon.
   Using the top property to position two horizontal lines (that forms the close [X] icon when transformed) relative to the main icon to ensure it is aligned.
*/
.c-sidebar__mobile-toggle-icon--transform::before {
  content: '';
  top: -8px;
}
.c-sidebar__mobile-toggle-icon--transform::after {
  content: '';
  top: 8px;
}


/* Gray color for links in hover state */
.c-sidebar__list-item--hover:hover,
.c-top-nav__link-items--hover:hover,
.c-top-nav__heading-link--hover:hover {
    color: var(--clr-primary-accent-bgcolor);
}

/* Link style for focused active state */
.c-sidebar__list-item--active:focus,
.c-top-nav__link-items--active:focus,
.c-sidebar__list-item--current,
.c-top-nav__heading-link--current{
    color: var(--clr-primary-accent-bgcolor);
    font-size: var(--fs-500); 
    font-weight: var(--fw-800-exrabold);
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);   
}

/* Style for table swatches */
.c-swatch__table--size {
    margin-top: 10px;
    width: 300px;
    border-radius: 5px 5px 0 0;
    padding: 4px;
}

.c-swatch__table--border {
    border: 1px solid lightgray;
}

/* Typography page */

.c-typeface__table--display,
.c-scaling__table--display,
.c-type-weights__preview--display { 
    --type-bgcolor: #fff;
    background-color: var(--type-bgcolor);
    font-size: var(--fs-subheading);
    padding: 15px;
    margin: 15px;
    border: 1px solid grey;

}


/* Large devices (desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

/* ================= HEADER SECTION =================*/
/* Hide hamburger icon when viewport width reaches 1200 pixels and wider */
.is-desktop-hidden {
    display: none;
}

/* Display all links both top-level and sidebar menu for larger screens */
.is-desktop-visible {
    display: block;
}
}