/* ================= HEADER SECTION =================*/

/* Distribute page title and hamburger toggle icon in row flexflow with equal space between */
.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

/* Hide navigational links and toggle switch element in mobile view*/
.top-nav__links,
.sidebar__menu,
.sidebar__mobile-toggle {
    display: none;
}

/* Display  hamburger icon in smaller screens*/
.sidebar__mobile-toggle-icon {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 11px;
    right: 13px;
}

/* ================= SIDEBAR SECTION ================= */

/* Display .sidebar__menu when mobile-toggle checkbox is checked 
Code sourced from https://codepen.io/nobukawa/pen/WvJQwv?editors=1100 
Replaced + with tilde to select all sibling elements */
.sidebar__mobile-toggle:checked ~ .sidebar__menu {
    display: block;
  }

/* Links without underline */
.sidebar__list-item--no-decoration {
    text-decoration: none;
    color: var(--clr-primary);
}

/* Gray color for links in hover state */
.sidebar__list-item--hover:hover {
    color: var(--clr-secondary);
}

/* Link style for focused active state */
.sidebar__list-item--active:focus  {
    color: var(--clr-primary);
    font-weight: 800;
}


/* Large devices (desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

/* ================= HEADER SECTION =================*/
/* Hide hamburger icon when viewport width reaches 1200 pixels and wider */
.sidebar__mobile-toggle-icon {
    display: none;
}

/* Display all links both top-level and sidebar menu for larger screens */
.top-nav__links,
.sidebar__menu {
    display: block;
}
}