

/* ================= HEADER SECTION =================*/

/* Hide navigational links and toggle switch element in mobile view*/
.is-mobile-hidden {
    display: none;
}

/* Display  hamburger icon in smaller screens*/
.c-sidebar__mobile-toggle-icon {
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
    position: absolute;
    width: 26px;
    height: 26px;
    z-index: 1;
}

.c-top-nav__heading-link {
    font-size: var(--fs-h1);
    font-weight: var(--fw-800-exrabold);
}

/* ================= SIDEBAR SECTION ================= */

/* Display .sidebar__menu when mobile-toggle checkbox is checked 
Code sourced from https://codepen.io/nobukawa/pen/WvJQwv?editors=1100 
Replaced + with tilde to select all sibling elements */
.c-sidebar__mobile-toggle:checked ~ .c-sidebar__menu {
    display: block;
  }

/* Lines 40-84 code is sourced from https://codepen.io/andreykrokhin/pen/mGEqja */
/* Apply transformations to the hamburger icon (using span element) when clicked (checked).
   At the end of the animation the icon will resemble a close (X) button.
*/
.c-sidebar__mobile-toggle:checked ~ .c-sidebar__mobile-toggle-icon > .c-sidebar__mobile-toggle-icon--transform {
    transform: rotate(45deg);

  }
.c-sidebar__mobile-toggle:checked ~ .c-sidebar__mobile-toggle-icon > .c-sidebar__mobile-toggle-icon--transform:before {
    top: 0;
    transform: rotate(0);
  }
.c-sidebar__mobile-toggle:checked ~ .c-sidebar__mobile-toggle-icon > .c-sidebar__mobile-toggle-icon--transform::after  {
    top: 0;
    transform: rotate(90deg);
  }

/* 
   Define styling for the hamburger transformation elements.
   These elements are used to create animation effects.
*/

.c-sidebar__mobile-toggle-icon--transform,
.c-sidebar__mobile-toggle-icon--transform::before,
.c-sidebar__mobile-toggle-icon--transform::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  --icon-bgcolor: #01364A;
  background-color: var(--icon-bgcolor);

  transition-duration: .25s;
}

/* 
   Define pseudo-elements before and after harmburger transformation for styling.
   These pseudo-elements are positioned to create additional graphical elements for the overall appearance of the hamburger icon.
   Using the top property to position two horizontal lines (that forms the close [X] icon when transformed) relative to the main icon to ensure it is aligned.
*/
.c-sidebar__mobile-toggle-icon--transform::before {
  content: '';
  top: -8px;
}
.c-sidebar__mobile-toggle-icon--transform::after {
  content: '';
  top: 8px;
}

/* Remove list item style */
.c-sidebar__list-item {
  list-style-type: none;
}

/* Gray color for links in hover state */
.c-sidebar__list-item--hover:hover,
.c-top-nav__link-items--hover:hover,
.c-top-nav__heading-link--hover:hover {
    color: var(--clr-primary-accent-bgcolor);
}

/* Link style for focused active state */
.c-sidebar__list-item--active:focus,
.c-top-nav__link-items--active:focus,
.c-sidebar__list-item--current {
    color: var(--clr-primary-accent-bgcolor);
    font-size: var(--fs-body); 
    font-weight: var(--fw-800-exrabold);
     
}
.c-top-nav__heading-link--current {
  color: var(--clr-primary-accent-bgcolor);
  font-weight: var(--fw-800-exrabold);
}

/* Sidebar menu category styling */
.c-sidebar__menu-category { 
  font-size: var(--fs-body);
  font-weight: var(--fw-700-bold);
  letter-spacing: 0.35px;
  margin-bottom: -15px;
}

/* ================= MAIN SECTION ================= */

/* ================= COLOURS PAGE =================*/

/* Style for swatch card holding the table contrast ratio*/
.c-swatch__card {
  border: lightgray 1px solid;
  border-radius: 10px;
  padding: 15px;
  width: 90%;
}
/* Style for table swatches */
.c-swatch__table{
    margin-top: 10px;
    width: 300px;
    padding: 4px;
}

/* Circular color swatch display */
.c-swatch__color-display {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Circular color swatch display with border for visibility e.g. in feta bgcolor*/
.c-swatch__color-display--border {
    border: 1px solid lightgray;
}

/* ================= TYPOGRAPHY PAGE =================*/

.c-typeface__table,
.c-scaling__table,
.c-type-weights__rank-table { 
    --type-bgcolor: #fff;
    background-color: var(--type-bgcolor);
    font-size: var(--fs-subheading);
    padding: 15px;
    margin: 15px;
    border: 1px solid grey;

}

/* ================= SPACING PAGE =================*/

/* Set border and center-align content in the table */
.c-padding__table,
.c-margin__table {
  border: 1px solid #000;
  text-align: center;
}

/* Apply background and text color to even rows in the padding table */
.c-padding__row:nth-child(even),
.c-margin__row:nth-child(even) {
  background-color: var(--clr-secondary-font-color);
  color: var(  --clr-primary-font-color-100);
}


/* ================= DEVELOPER PAGE =================*/

.c-dev {
  text-align: center;
}

.c-dev__heading {
  text-align: center;
  line-height: 3rem;
}

.c-dev__portrait {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.c-dev__tools-skills {
  max-width: 80%;
}

/* ================= RESPONSIVE LAYOUT FOR DESKTOP =================*/

/* Large devices (desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

/* Desktop - Constrained Container */
.desktop-width {
  max-width: 100%;
  /* Center container */
  margin-left: auto;
  margin-right: auto;
}

/* ================= HEADER SECTION =================*/
/* Hide hamburger icon when viewport width reaches 1200 pixels and wider */
.is-desktop-hidden {
    display: none;
}

/* Display all links both top-level and sidebar menu for larger screens */
.is-desktop-visible {
    display: block;
}

.c-top-nav__heading-link {
  font-size: 4rem;
  font-weight: var(--fw-800-exrabold);
}
/* ================= BODY  =================*/
/* Body uses grid layout to position top nav and sidebar, while
allowing scrolling for content within main section
Code was modified from https://github.com/nic-dgl309-2024WI/spacing-recipes*/


.c-body-wrapper {
  --header-height: 6rem;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 14rem 1fr;
  gap: 1rem;
  max-width: 100%;
  margin-left: auto;
  margin-left: auto;
  isolation: isolate;

}

.c-top-nav-wrapper {
  grid-area: header;
  position: sticky;
  z-index: 2;
  top: 0;
  display: grid;
  height: var(--header-height);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.c-sidebar__menu {
  grid-area: sidebar;
  position: relative;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  max-width: 15%;
  width: 100%;
  height: 100%;
}

.c-content-box {
  grid-area: main;
  min-height: 180vh;
}

.c-footer {
  grid-area: footer;
  display: grid;
  place-content: center;
  height: 5rem;
  position: relative;
  z-index: 2
}

/* ================= COLOURS PAGE =================*/
.c-swatch__card {
  width: 43%;
}

/* ================= TYPOGRAPHY PAGE =================*/



/* ================= SPACING PAGE =================*/

/* Set table width to 70% of the viewport width */
.c-margin__table,
.c-padding__table {
  width: 50vw;
}

/* ================= DEVELOPER PAGE =================*/
c-dev__intro-box {
 text-align: left;

}

.c-dev__tools-skills {
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.c-dev__portrait {
  max-width: 50%;
  max-height: 50%;
}

}