/* =================== */
/*  Color Variables    */
/* =================== */

:root {
  /* Color description from https://www.colorhexa.com/ */

  /* Primary color */
    --clr-primary-font-color: #01364A; /* Very dark blue */
    --clr-primary-bgcolor: #F8FEFA; /* Light grayish cyan - lime green */
    --clr-primary-accent-bgcolor:  #219d3d; /* Dark lime green */
    --clr-primary-accent-font: #fff; /* White */

  /* Secondary color */
    --clr-secondary-font-color: #475C6C; /* Very dark grayish blue */
    --clr-secondary-bgcolor-gray: #F9F9F9; /* Very light gray */
    --clr-secondary-bgcolor-blue:  #01364A; /* Very dark blue */
  
  /* Tonal variation */
  --clr-primary-font-color-100: #e8f9ff; /* Very pale blue */

  /* Font family */
  --ff-sans-serif: "Montserrat", sans-serif;

  /* Font weight */
  --fw-300-light: 300;
  --fw-400-reg: 400;
  --fw-500-med: 500;
  --fw-600-semibold: 600;
  --fw-700-bold: 700;
  --fw-800-exrabold: 800;
  --fw-900-black: 900;
  
  /* Font sizes */
  --fs-button: 0.75rem;
  --fs-caption: 0.875rem;
  --fs-body: 1rem;
  --fs-subheading: 1.5rem;
  --fs-h6: 1.25rem;
  --fs-h5: 1.5rem;
  --fs-h4: 2.125rem;
  --fs-h3: 3rem;
  --fs-h2: 3.5rem;
  --fs-h1: 4rem;
  }

/*  ==================
        CSS Reset 
    ==================  */

/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset margin for the following elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove padding from lists */
ul,
ol {
  padding: 0;
}

/*  ==================
      Utility Classes 
    ==================  */


/* Colors */
.u-primary-font {
  color: var(--clr-primary-font-color);
}

.u-primary-bgcolor {
  background-color: var(--clr-primary-bgcolor);
}

.u-primary-cta-bgcolor {
  background-color: var(--clr-primary-accent-bgcolor);
}

.u-primary-cta-font {
  color: var(--clr-primary-accent-font);
}

.u-accent-swatch {
  background-color: #fff;
}

.u-secondary-font {
  color: var(--clr-secondary-font-color);
}

.u-secondary-font-swatch {
  background-color: var(--clr-secondary-font-color);
}

.u-secondary-bgcolor-gray {
  background-color: var(--clr-secondary-bgcolor-gray);
}

.u-secondary-bgcolor-blue {
  background-color: var(--clr-secondary-bgcolor-blue);
}

.u-text-on-blue {
  color: var(--clr-primary-font-color-100);
}

.u-blue-text-swatch {
  background-color: var(--clr-primary-font-color-100);
}

/* Typography */
.u-ff-sans-serif { font-family: var(--ff-sans-serif); }

.u-fs-button { font-size: var(--fs-button); } 
.u-fs-caption { font-size: var(--fs-caption); } 
.u-fs-body { font-size: var(--fs-body); } 
.u-fs-subheading { font-size: var(--fs-subheading); } 
.u-fs-h6 { font-size: var(--fs-h6); } 
.u-fs-h5 { font-size: var(--fs-h5); } 
.u-fs-h4 { font-size: var(--fs-h4); } 
.u-fs-h3 { font-size: var(--fs-h3); } 
.u-fs-h2 { font-size: var(--fs-h2); } 
.u-fs-h1 { font-size: var(--fs-h1); } 

.u-fw-light { font-weight: var(--fw-300-light); }
.u-fw-reg { font-weight: var(--fw-400-reg); }
.u-fw-med { font-weight: var(--fw-500-med); }
.u-fw-semibold { font-weight: var(--fw-600-semibold); }
.u-fw-bold { font-weight: var(--fw-700-bold); }
.u-fw-extrabold { font-weight: var(--fw-800-exrabold); }
.u-fw-black { font-weight: var(--fw-900-black); }

.u-letter-spacing-heading { letter-spacing: 0.8px; }
.u-letter-spacing-subheading { letter-spacing: 0.64px; }
.u-letter-spacing-body { letter-spacing: 0.64px; }
.u-letter-spacing-caption { letter-spacing: 0.35px; }
.u-letter-spacing-typeface { letter-spacing: 2.5px; }

.u-h1 {	
  font-size: var(--fs-h1);
  font-weight: var(--fw-800-exrabold);
  letter-spacing: 0.8px;
  }
  
.u-h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-600-semibold);
  letter-spacing: 0.64px;
  }
  
.u-h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-500-med);
  letter-spacing: 0.64px;
  }
  
.u-h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-500-med);
  letter-spacing: 0.64px;
  }

.u-h5 {
  font-size: var(--fs-h5);
  font-weight: var(--fw-500-med);
  letter-spacing: 0.64px;
  }
  
.u-h6 {
  font-size: var(--fs-h6);
  font-weight: var(--fw-500-med);
  letter-spacing: 0.64px;
  }
  
.u-subheading {
  font-size: var(--fs-subheading);
  font-weight: var(--fw-500-med);
  letter-spacing: 0.64px;
  }

.u-body {
  font-size: var(--fs-body);
  font-weight: var(--fw-400-reg);
  letter-spacing: 0.48px;
  }

.u-caption {
    font-size: var(--fs-caption);
    font-weight: var(--fw-300-light);
    letter-spacing: 0.48px;
    }

.u-button {
    font-size: var(--fs-button);
    font-weight: var(--fw-400-reg);
    letter-spacing: 1.25px;
    text-transform: uppercase;
    }

.u-navlinks-category { 
    font-size: var(--fs-body);
    font-weight: var(--fw-700-bold);
    letter-spacing: 0.35px;
}
  
.u-navlinks { 
  font-size: var(--fs-400);
  font-weight: var(--fw-400-reg);
  letter-spacing: 0.35px;
  }
  
.u-uppercase { text-transform: uppercase; }
  
  
