/* =================== */
/*  Color Variables    */
/* =================== */

:root {
  /* Color description from https://www.colorhexa.com/ */

  /* Primary color */
    --clr-primary-font-color: #01364A; /* Very dark blue */
    --clr-primary-bgcolor: #F8FEFA; /* Light grayish cyan - lime green */
    --clr-primary-accent-bgcolor:  #219d3d; /* Dark lime green */
    --clr-primary-accent-font: #fff; /* White */

  /* Secondary color */
    --clr-secondary-font-color: #475C6C; /* Very dark grayish blue */
    --clr-secondary-bgcolor-gray: #F9F9F9; /* Very light gray */
    --clr-secondary-bgcolor-blue:  #01364A; /* Very dark blue */
  
  /* Tonal variation */
  --clr-primary-font-color-100: #e8f9ff; /* Very pale blue */

  }

  
/*  ==================
        CSS Reset 
    ==================  */

/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset margin for the following elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove padding from lists */
ul,
ol {
  padding: 0;
}

/*  ==================
      Utility Classes 
    ==================  */

.u-primary-font {
  color: var(--clr-primary-font-color);
}

.u-primary-bgcolor {
  background-color: var(--clr-primary-bgcolor);
}

.u-primary-cta-bgcolor {
  background-color: var(--clr-primary-accent-bgcolor);
}

.u-primary-cta-font {
  color: var(--clr-primary-accent-font);
}

.u-secondary-font {
  color: var(--clr-secondary-font-color);
}

.u-secondary-bgcolor {
  background-color: var(--clr-secondary-bgcolor);
}

.u-text-on-blue {
  color: var(--clr-primary-font-color-100);
}